
*.sh
node_modules
*.md
*.woff
*.ttf
.vscode
.idea
dist
/public
/docs
.husky
.local
/bin
Dockerfile

/src/components/*
/src/design/*
/src/directives/*
/src/hooks/*
/src/layouts/*
/src/locales/*
/src/logics/*
/src/router/*
/src/settings/*
/src/utils/*
/mock
/types
